<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Search Your Fav Restaurant" />
    <meta name="theme-color" content="#5a3f11" />

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-256x256.png" />
    <link rel="icon" href="./favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>RestoFolks</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">RestoFolks</h1>
      </div>
      <button href="#" id="menu" class="header__menu">☰</button>
    </header>
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#/home">Home</a></li>
        <li class="nav__item"><a href="#/favorite">Favorite</a></li>
        <li class="nav__item">
          <a href="https://github.com/prttynada">About Us</a>
        </li>
      </ul>
    </nav>
    <div class="hero">
      <picture>
        <source
          media="(max-width: 600px)"
          srcset="./images/heros/hero-image_4-small.jpg"
        />
        <img src="./images/heros/hero-image_4-large.jpg" alt="Hero Image" />
      </picture>
      <div class="hero__inner">
        <h1 class="hero__title">Good Time, Great Friends</h1>
        <p class="hero__tagline">
          Temukan restaurant terdekat dengan terbaik dengan beraneka promosi
          makanan menarik dan dapatkan diskon hingga 50% di banyak restoran
          populer.
        </p>
      </div>
    </div>
    <main id="maincontent" tabindex="0">
      <section class="content"></section>
    </main>
    <footer>&copy; Copyright 2022 - PrttyNadaa</footer>
    <script src="../scripts/index.js"></script>
  </body>
</html>
